.container {
  height: 600px;
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
}

.box-1 {
  height: 100px;
  background-color: antiquewhite;
}

.hero--box {
  height: 365px;
  background-color: var(--color-secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Hero Image */
.hero--image {
  width: 100%;
  border-radius: 5px;
}
