:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #E18AAA;
  --color-secondary: rgb(177, 156, 216);
  --color-accent: #f1528c;
  --color-headings: #444444;
  --color-body: #666667;
  color: var(--color-body);
  /* background-color: #242424; */
  background-color: #fff;
  
}

.header {
  color: var(--color-headings);
  font-weight: 800;
  font-size: 6rem;
  margin: 0;
  padding-top: 2rem;
}

p {
  color: var(--color-body);
}


/* Collapsibles */

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.collapsible__content {
  display: none;
  transition: all .5s ease;
}

.collapsible--expanded .collapsible__content {
  display: block;
  transition: all .5s ease;
  
}

@media screen and (min-width: 768px) {
  .hidden {
    display: none;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-body);
}

/* links */

a {
  text-decoration: none;
  color: var(--color-body);
  font-size: 2.5rem;
  
  transition: .15s;
}
a:hover {
  color: var(--color-accent);

}

@media screen and (min-width: 1024px) {
  a {
    font-size: 2rem;
  }
}