.logo {
  width: 40px;
  height: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

span {
  padding-bottom: 2rem;
}

.nav__list {
  width: 100%;
  margin: 0;
  text-align: center;
}
.nav__item {
  margin: 0;
  padding: 0.3rem;
}

.nav__item:after {
  content: "";
  display: block;
  padding: 0 0;
  width: auto;
  border-bottom: 1px solid #aaabbb;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-wrap: nowrap;
  }
  .nav__list {
    display: flex;
    width: auto;
  }
  .nav__item {
    padding: 0 0.8rem;
  }
  .nav__item:after {
    border-bottom: none;
  }
}